@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');


.view-requests {
  background-color: #e7f5e8;
  padding: 20px;
  border-radius: 8px;
  margin-top: 75px;
}

.view-requests h2{
  font-family: 'Google Sans', sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: rgb(9, 54, 10);
  text-align: start;
  letter-spacing: normal;
}

.view-requests table {
  width: 100%;
  border-collapse: collapse;
}

.view-requests th, .view-requests td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #b0e7b0;
  font-size: 13px;
  color: #2d6a4f;
}

.view-requests th {
  background-color: rgb(76, 175, 80);
  height: 60px;
  color: white;
}

.view-requests tr:hover {
  background-color: #b0e7b0;
}

.view-requests ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.view-requests li {
  padding: 4px 0;
}

button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

button:hover {
  background-color: #45a049;
}

input[type="number"] {
  width: 60px;
  padding: 4px;
  border: 1px solid #b0e7b0;
  border-radius: 4px;
  margin-left: 8px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #b0e7b0;
  border-radius: 4px;
  resize: vertical;
}

.Modal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  min-width: 600px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
