/* Dashboard.css */
.dashboard-overview {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  gap: 5px;
}

.overview {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  width: 250px;
  gap: 140px;
}

.overview h6 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.overview p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.overview h4 {
  font-size: 36px;
  color: #2c3e50;
}

.overview:hover {
  transform: translateY(-5px);
  background-color: #e0f7fa;
}

/* Different background colors for different boxes */
.total-requests {
  background-color: #e3f2fd;
}

.accepted-requests {
  background-color: #e8f5e9;
}

/* Chart container */
.chart-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 20px auto;
}

/* Loading spinner */
.loading-spinner {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
}
.close-chart-btn {
 
  top: 10px;
  right: 10px;
  background: linear-gradient(135deg, #86cda4, #d4e8dd);
  color: white;
  font-size: 12px; /* Adjusted to a more readable font size */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease; /* Smooth transition for background change */
}

.close-chart-btn:hover {
  background: linear-gradient(135deg, #353938, #b4d8c8); /* Lighter or different gradient on hover */
}
