.CompanyName {
  text-align: center;
  background-color: #f8f8f8; /* Very light green background */
  padding: 20px;
  border-radius: 8px;
  max-width: 900px; /* Align with request-form max-width */
  margin: auto; /* Center the content */
}

.images {
  margin-bottom: 10px;
}

.images img {
  width: 180px;
  height: 150px;
}
